<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SUPMedalhas.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SUPMedalhas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SUPMedalhas.Properties.Settings1>
            <setting name="Nick" serializeAs="String">
                <value />
            </setting>
        </SUPMedalhas.Properties.Settings1>
        <SUPMedalhas.Properties.Settings>
            <setting name="Nick" serializeAs="String">
                <value />
            </setting>
            <setting name="Patente" serializeAs="String">
                <value />
            </setting>
            <setting name="TAG" serializeAs="String">
                <value />
            </setting>
        </SUPMedalhas.Properties.Settings>
    </userSettings>
</configuration>